<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body class="body__login">
    
<div class="login__content">
    <form action="/users/login" method="POST" class="form">
        <% if(typeof errors != "undefined") { %> 
            <p><%= errors %></p>
                <% } %>  
     <h1 class="title_login">Login</h1>
     <div class="inp">
        <input type="email" name="email" class="input" placeholder="Usuario"  value="<%= typeof oldEmail != "undefined"?oldEmail: ""  %>" >
        <span class="material-symbols-outlined">
            person
            </span>
    </div>
    <div class="inp">
        <input type="password" name="password"  class="input" placeholder="Contraseña">
        <span class="material-symbols-outlined">
            lock
            </span>  
    </div>
    <label for="">Recordame</label>
        <input type="checkbox" name="recordarme">
    <button class="submit" type="submit">Iniciar Sesion</button>
    <p class="footer">No tienes una cuenta? <a href="/users/register">Registrate</a></p>
</form>     

    <div></div>
    <div class="banner">
        <h1 class="wel_text"></h1>
    </div>
      
</div>
    

   
        
</body>