<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <div class="register__content ">
    <div class="main_register">
       
        <form action="/users/register" method="POST" class="form__register">
            <h1>Registrate</h1>
            <label><h4>Nombre:</h4> <input class="completar" type="text" name="nameUser"></label>
            <label><h4>Apellido:</h4> <input class="completar" type="text" name="apellidoUser"></label>
            <label><h4>Direccion:</h4><input class="completar" type="text" name="direccion" ></label>
            <label><h4>Email:</h4><input class="completar" type="email" name="email" ></label>
           <label><h4>Contraseña:</h4><input class="completar" type="password" name="password"></labe>
            <h4>Elegí tu foto de usuario:</h4>
            <input type="file" name="fotousuario " id="foto_usuario" accept=".pdf,.jpg,.png">
            <div class="buttons_register">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
            </div>
        </form>
    </div>
</div>
</body>