<header class="header__container">
    
    <div class="logo" >
     <a href="/products"><img src="/images/ameri_tortuga.png" alt="Logo-Ameri" ></a>
    </div>
      
      <nav class="navbar ">
                <ul class="navbar-nav">
                  <li><a class="nav-link" href="" target="_blank" >HOMBRE</a></li >
                  <li><a class="nav-link" href="" target="_blank" rel="noopener noreferrer">MUJER</a></li >
                   <% if (usuario) { %>
                    <li><a class="nav-link" href="/products/create">CREAR</a></li>
                      <li><a class="nav-link"  href="/users/logout">LOGOUT</a></li>
                        <li><a href="" class="nav-link"> <%= usuario.nombre %> <%= usuario.apellido %> </a></li>
                  <%  } else { %>
                     <li> <a  class="nav-link" href="/users/login">LOGIN</a></li>
                     <li><a class="nav-link" href="/users/register">REGISTRO</a></li>
                      <% } %> 
                      <% if (usuario) { %>
                        <li><a href="/cart"><span class="material-symbols-outlined">shopping_cart</span></a></li>
                      <% } %>
                      
                </ul>
            </div>
          
        </nav>
  </header>
  