

body{
    background-color: #abf5ae;
}

/*-------------HEADER----------------*/

.header__container{
    background-color: #355326;
    display: flex;
    flex-direction: space-between;
    justify-content: center; 
     
    padding: 10px;
    gap: 10px;
}
a{
    padding: 15px;
    color: #f9f8f6;
    text-decoration: none;
}
.nav1{
    display: flex;
    justify-content: flex-end;
    
    align-items: center;
    gap: 20px;
}


#Buscador {
    font-family: 'Barlow', sans-serif;
    width: 30%;
    border: transparent;
    gap: 5px;
    outline: none;
    border-radius: 15px;
}
.logo {
    width: 125px;
    height: 125px;
}

.carrito_nav {
    width: 30px;
}

/*----------------FIN HEADER------------*/

/*--------------MAIN---------------*/
.title {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style:italic;
    color: #355326;
    text-align: center;
    padding: 10px;
    gap:10px;
}

.ofertas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 15px;
    gap:15px;
      
     }
.oferta{
    background-color: #f4ede4;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.4);
    transition: all 300ms ease ;
    border: #355326 solid;
    }
    
.oferta:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
        
}
.oferta figure img {
    width: 100%;
    height:350px ;
    object-fit: cover;
    transition: all .5s;
    border-radius: 7px;
    border: #355326 solid;
      
}.oferta figure img:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
    cursor: pointer; 
    
}

.off{
    color: rgb(46, 199, 46);
    margin: 0px;
    padding: 1% 0% 3% 3%;
}



.descr_ofer .button_personalizado{
    width: 30px;
}

/*-------------FIN MAIN--------------*/

/*----------detalle de producto------------*/
.product__detail {
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}
.product__description {
    background-color: #f4ede4;
    width: 80vw;
    border-radius: 3% 3% 3% 3%;
    color: white;
}
 .product__detail img{
     width: 100%;
     border-radius: 3% 3% 0% 0%;
 }
 .nombre_prod{
    color: #355326;
    margin: 0px;
    padding: 1% 0% 3% 3%;
 }
 .productDetail__buttons {
     display: flex;
     
     margin-top: 5px;
     
     
 }
.button_personalizado {
    background-color: #f4ede4;
    text-align: center;
    border-radius: 6px;
    
    margin: 2px;

}
.buttons a {
    color: rgb(16, 16, 16);
}


/*Crear un producto*/
.form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
  }
  
  .form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
  }
  
  textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }



/*-------------Fin detalle del producto--------------*/

/*-------------------FOOTER---------------*/
footer{
    background-color: #355326;
    color: white;
    padding: 10px 10px 10px 10px;
}
.div1footer ul{
    padding: 0%;
}
.div2footer ul{
    padding-left: 5%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
}
.div1footer{
    border-bottom: solid grey;
}
.div2footer ul a{
    color: grey;
}
.div2footer{
    border-bottom: solid grey;
}
.div2footer p{
    margin-bottom: 6px;
}
.div3footer ul{
    padding: 0%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div3footer li{
    padding: 3%;
}
.logo_redsocial{
    width: 25px;
    background-color: grey;
    border-radius: 15%;
    margin: 1%;
}
/*--------------FIN FOOTER-----------*/


@media (min-width: 768px){
/*-------------HEADER----------------*/
    .container__menu{
        display: flex;
        justify-content: space-between;
    }
    .nav1 a {
        font-size: 1rem;
        
    }
    .nav2 a {
        font-size: 1rem;
        
    }
    .container__menu .nav1{ 
        width: 50%; 
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container__menu .nav2{
        width: 50%; 
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .ofertas{
        flex-direction: row;
    }

    .oferta_ind{
        width: 40%;
    } 
    /*  Comienzo detalle producto*/
    .product__detail {
        display: flex;
        width: 50vw;
        margin-left: 25vw;
    }
    .product__description {
        width: 50vw;
    }
}

@media (min-width: 1024px){
    .oferta_ind {
        width: 30%;
    }
    .product__description {
        width: 30vw;
        margin-left: 8vw;
    }
    .productDetail__buttons {
        
        margin-left: 8vw;
    }
}
@media (min-width: 1440px){
    .oferta_ind {
        width: 20%;
    }
}