

body{
    background-color: #3E2B47;
}

/*-------------HEADER----------------*/
.header__container{
    background-color: #F2643E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container__menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container__menu .nav1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container__menu .nav2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.nav1 a{
    color: #111111;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 2%;
}
.nav2 a{
    color:#111111;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 2%;
}
.nav1 a:hover{
    transform: scale(1.1);
    transition: .1s;
    color: white;
}
.nav2 a:hover{
    transform: scale(1.1);
    transition: .1s;
    color: white;
}
.container__menu .nav2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Buscador {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    border: transparent;
    padding: 10px 10px 10px 30px;
    outline: none;
}
.logo {
    width: 125px;
    height: 125px;
}

.carrito_nav {
    width: 30px;
}
/*----------------FIN HEADER------------*/

/*--------------MAIN---------------*/
h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
.ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 2%;
}
.off{
    color: rgb(46, 199, 46);
    margin: 0px;
    padding: 1% 0% 3% 3%;
}
.oferta_ind .nombre_prod{
    padding: 2% 0% 0% 3%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.oferta_ind{
    background-color: #111111;
    border-radius: 3% 3% 3% 3%;
    color: white;
}
.ofertas img{
    width: 100%;
    border-radius: 3% 3% 0% 0%;
}
.oferta_ind .descr_ofer{
    display: grid;
    grid-template-columns: 79% 18%;
}



/*-------------FIN MAIN--------------*/

/*----------detalle de producto------------*/
.product__detail {
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}
.product__description {
    background-color: #111111;
    width: 80vw;
    border-radius: 3% 3% 3% 3%;
    color: white;
}
 .product__detail img{
     width: 100%;
     border-radius: 3% 3% 0% 0%;
 }
 .nombre_prod{
    color: white;
    margin: 0px;
    padding: 1% 0% 3% 3%;
 }
 .productDetail__buttons {
     display: flex;
     
     margin-top: 5px;
     
     
 }
.button_personalizado {
    background-color: #111111;
    text-align: center;
    border-radius: 6px;
    
    margin: 2px;

}
.buttons a {
    color: white;
}


/*Crear un producto*/
.form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
  }
  
  .form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
  }
  
  textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }



/*-------------Fin detalle del producto--------------*/

/*-------------------FOOTER---------------*/
footer{
    background-color: #111111;
    color: white;
    padding: 10px 10px 10px 10px;
}
.div1footer ul{
    padding: 0%;
}
.div2footer ul{
    padding-left: 5%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
}
.div1footer{
    border-bottom: solid grey;
}
.div2footer ul a{
    color: grey;
}
.div2footer{
    border-bottom: solid grey;
}
.div2footer p{
    margin-bottom: 6px;
}
.div3footer ul{
    padding: 0%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div3footer li{
    padding: 3%;
}
.logo_redsocial{
    width: 25px;
    background-color: grey;
    border-radius: 15%;
    margin: 1%;
}
/*--------------FIN FOOTER-----------*/


@media (min-width: 768px){
/*-------------HEADER----------------*/
    .container__menu{
        display: flex;
        justify-content: space-between;
    }
    .nav1 a {
        font-size: 1rem;
        
    }
    .nav2 a {
        font-size: 1rem;
        
    }
    .container__menu .nav1{ 
        width: 50%; 
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container__menu .nav2{
        width: 50%; 
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .ofertas{
        flex-direction: row;
    }

    .oferta_ind{
        width: 40%;
    } 
    /*  Comienzo detalle producto*/
    .product__detail {
        display: flex;
        width: 50vw;
        margin-left: 25vw;
    }
}

@media (min-width: 1024px){
    .oferta_ind {
        width: 30%;
    }
}
@media (min-width: 1440px){
    .oferta_ind {
        width: 20%;
    }
}