
.fixed-fullscreen {
    position: fixed;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
  }
  
.login__content{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   display: flex;
   width: 100vw;
}

.login h1 {
    color: white;
    text-align: center;
}
.login label p {
    color: white;
}

/*-------------------MAIN---------------*/
 .login__content .main_login{
    border: 1px solid red;
    opacity: 0.6;
    width: 100vw;
}
.login__content .main_login .login {
    margin-top: 15vw;
}

.email_y_pw{
    width: 100vw;
    border-radius: 2px;
    margin: 5px 0px 20px 0px;
    padding: 10px;
    border: 0px;
}
.recordarme{
    display: flex;
    justify-content: end;
}
.recordarme input{
    margin-top: 21px;
}
 .button_login{
    width: 50%;
    background-color: #8500aa;
    color: white;
    border-radius: 2px;
    margin: 20px 0px 20px 10px;
    padding: 10px;
    border: 0px;
}
/*-------------------FIN MAIN---------------*/
@media (min-width: 768px){
    .button_login {
        width:50%;
    }
   
}