
.login__content{
   
   display: flex;
   height: 100vh;
   background-color: rgb(192, 241, 56);
   flex-direction: column;
  
}

.login h1 {
    color: white;
    text-align: center;
}
.login label p {
    color: white;
}

/*-------------------MAIN---------------*/
 .login__content .main_login{
    border: 1px solid red;
    opacity: 0.6;
    flex: 1;
   
    
   
}


.email_y_pw{
   
    border-radius: 2px;
    margin: 5px 0px 20px 0px;
    padding: 10px;
    border: 0px;
}
.recordarme1 {
    width: 45%;
}
.recordarme2 {
    width: 54%;
}
.recordarme{
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.recordarme input{
    margin-top: 21px;
}
 .button_login{
    width: 50%;
    background-color: #8500aa;
    color: white;
    border-radius: 2px;
    margin: 20px 0px 20px 10px;
    padding: 10px;
    border: 0px;
}
/*-------------------FIN MAIN---------------*/
@media (min-width: 768px){
    .button_login {
        width:50%;
    }
    .login__content .main_login .login {
        width: 70vw;
        margin: auto;
        margin-top: 12vw;

    }
    .email_y_pw{
        width: 67vw;
    }

}