

.register__content {
    background-image: url(../images/fondo.jpg);
}


/*-------------------MAIN---------------*/
.main_register{

    border-radius: 5%;
    padding: 6%;
    justify-content: center;
    opacity: 0.6;
}
.form__register{
    background-color: #d927e9;
    border-radius: 5%;
    margin: auto;
    display: grid;
    justify-content: center;
    gap: 20px;
}
.form__register h1{
    text-align: center;
}
h4{
    border-top: #1b1b1b solid 4px;
    padding: 2% 0%;
    margin: 4% 0% 0% 0%;
}
.completar{
    width: 100%;
}

#date{
    margin: 0% 0% 3% 0%;
}
.buttons_register .buttons{
    display: flex;
    justify-content: space-around;
}
.buttons_register button{
    width: 29%;
    background-color: #8500aa;
    color: white;
    border-radius: 2px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 0px;
}

/*-------------------FIN MAIN---------------*/



@media (min-width: 768px){
    .form__register{
        padding: 4%;
        margin-top: 4%;
        width: 50%;
    }
    .buttons_register button {
        width: 48%;}
}
@media (min-width: 1024px){
    .form__register{
        padding: 4%;
        margin-top: 4%;
        width: 30%;
    }
}

