.register__content {
    background-color: #F5EFE6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos principales del formulario */
.main_register {
    background-color: #445D48;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
}

.form__register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__register h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.form__register h4 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.completar {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.completar::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#date {
    margin: 10px 0;
    width: 100%;
}

/* Estilos de los botones */
.buttons_register {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons_register button {
    width: 48%;
    background-color: #28a745; /* Verde principal */
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.buttons_register button:hover {
    background-color: #218838; /* Verde más oscuro al pasar el mouse */
}

/* Responsividad */
@media (max-width: 768px) {
    .main_register {
        width: 95%;
        padding: 30px;
    }
    
    .buttons_register {
        flex-direction: column;
    }
    
    .buttons_register button {
        width: 100%;
        margin-bottom: 10px;
    }
}
