

.register__content {
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    width: 100vw;
  
  
}


/*-------------------MAIN---------------*/
.register__content .main_register{

    justify-content: center;
    opacity: 0.6;
    
}
.register__content .main_register .form__register {
    width: 100vw;

    margin-top: 10px;
}
.form__register{
 
    
    margin: auto;
    display: grid;
    justify-content: center;
    
}
.form__register h1{
    text-align: center;
    color: white;
}
.form__register h4{
    
    color: white;
}
#foto_usuario{
color:transparent;
}

.completar{
    width: 100%;
}

#date{
    margin: 0% 0% 3% 0%;
}
.buttons_register .buttons{
    display: flex;
    justify-content: space-around;
}
.buttons_register button{
    width: 29%;
    background-color: #8500aa;
    color: white;
    border-radius: 2px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 0px;
}

/*-------------------FIN MAIN---------------*/



@media (min-width: 768px){
    .form__register{
        
        width: 50%;
    }
    .buttons_register button {
        width: 48%;
    }
}
@media (min-width: 1024px){
    

}