<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {tittle: 'Index'}); %>
<body>
    <%- include('partials/header'); %>
    
    <main>
        <h2>Ofertas del dia!</h2>
        <section class="ofertas">
            <div class="oferta_ind">
                <img src="/images/oferta1.jpg" alt="oferta1">
                <div class="descr_ofer">
                    <div class="p_de_ofer">
                        <p class="nombre_prod">Buzo blanco</p>
                        <p class="off">25% off</p>
                    </div> 
                    <a href=""><img src="/images/carrito.png" alt="carrito"></a>
                </div>
            </div>

            <div class="oferta_ind">
                <img src= "/images/oferta2.jpg" alt="oferta2">
                <div class="descr_ofer">
                    <div class="p_de_ofer">
                        <p class="nombre_prod">Remera hombre</p>
                        <p class="off">25% off</p>
                    </div> 
                    <a href=""><img src="/images/carrito.png" alt="carrito"></a>
                </div>
            </div>

            <div class="oferta_ind">
                <img src="/images/oferta3.jpg" alt="oferta3">
                <div class="descr_ofer">
                    <div class="p_de_ofer">
                        <p class="nombre_prod">Musculosa hombre</p>
                        <p class="off">25% off</p>
                    </div> 
                    <a href=""><img src="/images/carrito.png" alt="carrito"></a>
                </div>
            </div>

            <div class="oferta_ind">
                <img src="/images/oferta4.jpg" alt="oferta4">
                <div class="descr_ofer">
                    <div class="p_de_ofer">
                        <p class="nombre_prod">Buzo verde</p>
                        <p class="off">25% off</p>
                    </div> 
                    <a href=""><img src="/images/carrito.png" alt="carrito"></a>
                </div>
            </div>
        </section>
    </main>


    
    <%- include('partials/footer')%>
    
</body>
</html>