<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    

    <div class="login__content">
    <main class="main_login">
        <form class="login">
            <h1>BIENVENIDO</h1>
            <label>Email<input class="email_y_pw" type="email" name="Email" placeholder="Email"></label>
            <label>Contraseña<input class="email_y_pw" type="password" name="password" placeholder="Contraseña"></label>
        <div class="recordarme">
            <p>Recordarme</p>
            <input type="checkbox" name="recordarme" value="recordarme">
            <button type="submit" class="button_login">Ingresar</button>    
        </div>
            
        </form>
    </main>
</div>


   
        
</body>