<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    

    <div class="login__content fixed-fullscreen">
    <div class="main_login">
       
        <% if(typeof errors != "undefined") { %> 
            <% errors.forEach(error => { %>
                <ul>    
                    <li>
                        <%= error.msg %>
                    </li>
                </ul>
                <% }) %>
                <% } %>
        <form action="/users/login" method="POST" class="login">
           
            <h1>BIENVENIDO</h1>
            <label><p>Email</p><input class="email_y_pw" type="email" name="email" placeholder="Email"></label>
            <label><p>Contraseña</p><input class="email_y_pw" type="password" name="password" placeholder="Contraseña"></label>
        <div class="recordarme">
            <div class="recordarme1">
                <label ><p>Recordarmee</p></label>
                <input type="checkbox" name="recordarme" >
            </div>
            <div class="recordarme2">
                
                <button type="submit" class="button_login">Ingresar</button>  
            </div>
              
        </div>
            
        </form>
    </main>
</div>


   
        
</body>