<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <header class="header__container">
        <img class="logo" src="/images/kisspng-nike-swoosh-logo-brand-nike-5abe1b5179b2c7.6107499115224082734985.png" alt="logo">
    </header>


    <main>
        <form>
            <h1>BIENVENIDO</h1>
            <label>Email<input class="email_y_pw" type="email" name="Email" placeholder="Email"></label>
            <label>Contraseña<input class="email_y_pw" type="password" name="password" placeholder="Contraseña"></label>
            <div class="recordarme">
            <input type="checkbox" name="recordarme" value="recordarme"><p>Recordarme</p>
            </div>
            <p>La combinacion ingresada de email y contraseña no es valida</p>
            <button type="submit">Ingresar</button>
        </form>
    </main>


   
        
</body>