<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {tittle: 'Index' }); %>

    <body>

        <%- include('partials/header')%>

        <form action="" class="form__register">
            <h1>Formulario de creacion de productos</h1>
            <label>
                <h4>Nombre del producto:</h4> <input class="completar" type="text" name="name">
            </label>
            <label>
                <h4>Precio del producto:</h4><input class="completar" type="email" name="email">
            </label>
            <label for="discount" class="form-label">
                <h4>Descuento:</h4>
                <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="completar">
            </label>
            
            <label for="category" class="form-label"><h4>Categoría:</h4></label>
            <select name="category" id="category" class="completar">
                <option value="">Elegí</option>
                <option value="in-sale">En oferta</option>
                <option value="visited">Últimos agregados</option>
            </select>
            <label for="description" class="form-label"><h4>Descripción:</h4></label>
				<textarea name="description" id="description" class="completar"></textarea>
            </div>
            <div class="buttons_register">
                <button type="submit">Guardar</button>
            </div>
        </form>



        <%- include('partials/footer')%>
    </body>

</html>