<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    
    <div class="register__content">
    <main class="main_register">
       
        <form action="" class="form__register">
            <h1>Registrate</h1>
            <label>Nombre y apellido: <input class="completar" type="text" name="nombreYa"></label>
            <label>Email:<input class="completar" type="email" name="email" ></label>
            <h4>Fecha de nacimiento</h4>
            <input id="date" type="date">
            <input type="text" name="domicilio" placeholder="Domicilio">
            <h4>Elegí tu foto de usuario:</h4>
            <input type="file" name="foto usuario " accept=".pdf,.jpg,.png">
            <h4>Elegi tu contraseña</h4>
            <label>Contraseña:<input class="completar" type="password" name="pass"></label>
            <label>Confirmar contraseña:<input class="completar" type="password" name="pass"></label>
            <div class="buttons_register">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
            </div>
        </form>
    </main>
</div>
</body>