<header class="header__container">
    <img class="logo" src="/images/kisspng-nike-swoosh-logo-brand-nike-5abe1b5179b2c7.6107499115224082734985.png" alt="logo">
    <div class="container__menu">
            <nav class="nav1">
                <a href="">HOMBRE</a>
                <a href="">MUJER</a>
                <a href="">ZAPATILLAS</a>
            </nav>
            <nav class="nav2">
                <a href="/users/login">LOGIN</a>
                <a href="/users/register">REGISTRO</a>
                <a href=""><img src="/images/carrito.png" alt="carrito" class="carrito_nav"></a>
            </nav>                
    </div>
    <input type="search" placeholder="Buscar..." id="Buscador" />
</header>