<header class="header__container">
    <a href="/">
    <img class="logo" src="/images/kisspng-nike-swoosh-logo-brand-nike-5abe1b5179b2c7.6107499115224082734985.png" alt="logo">
    </a>
    <div class="container__menu">
        <input type="search" placeholder="Buscar..." id="Buscador" />
            <nav class="nav1">
                <a href="">HOMBRE</a>
                <a href="">MUJER</a>
                <a href="">ZAPATILLAS</a>
             
            </nav>
            <nav class="nav2">
                <% if (usuario) { %>
                    <a href=""> <%= usuario %> </a>
                    <a href=""><img src="/images/carrito.png" alt="carrito" class="carrito_nav"></a>
                    <a href="/products/create">CREAR</a>
                    <a href="/users/logout">LOGOUT</a>
                    
                <% } else { %>
                
                    <a href="/users/login">LOGIN</a>
                    <a href="/users/register">REGISTRO</a>
                <% } %>
               
                
            </nav>                
    </div>
    
</header>