<header class="header__container">
    
    <div class="container__menu">
        <input type="search" placeholder="Buscar..." id="Buscador" />
            <nav class="nav1">
                <a href="">HOMBRE</a>
                <a href="">MUJER</a>
                <a href="">ZAPATILLAS</a>
                <% if (usuario) { %>
                    <a href=""> <%= usuario %> </a>
                    <a href=""><img src="/images/carrito.png" alt="carrito" class="carrito_nav"></a>
                    <a href="/products/create">CREAR</a>
                    <a href="/users/logout">LOGOUT</a>
                    
                <% } else { %>
                
                    <a href="/users/login">LOGIN</a>
                    <a href="/users/register">REGISTRO</a>
                <% } %>
             
            </nav>
                         
    </div>
    
</header>